body {
  padding-top: 100px;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-bottom: 120px;
  min-height: 100vh;

  /* background-color: #eff9ed;*/
}
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.resimSlider {
  height: 500px;
}
.img {
  float: left;
  width: 100px;
  height: 100px;
  background-size: cover;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding: 20px;
}
