body {
  padding-top: 70px;
  font-family: "Poppins", sans-serif;
  /* background-color: #eff9ed;*/
}

.resimSlider {
  height: 500px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
}

/*@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
  }*/
